{% extends 'base.html' %}

<head>
    {% block customCSS %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    {% if properties is not none %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
    {% endif %}
    {% endblock %}
    {% block title %}
    {{ super() }}
    Profile
    {% endblock %}
</head>

{% block content %}
<div class="container mt-4">
    <div class="profile-card mb-4">
        <h2>Perfil</h2>
        <p><strong>Nombre:</strong> {{ current_user.name }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        <div class="d-flex">
            <a href="{{ url_for('auth.edit_profile') }}" class="btn btn-primary me-2">Editar Perfil</a>
            <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary">Cerrar Sesión</a>
        </div>
    </div>

    {% include '/components/catalog.html' %}
   
</div>
{% endblock %}