{% extends 'base.html' %}

{% block title %}
    Error Interno del Servidor
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="error-container">
                <h1 class="display-1 text-danger">500</h1>
                <h2 class="mb-4">Error Interno del Servidor</h2>
                <p class="lead">Ha ocurrido un error interno en el servidor.</p>
                <p class="mt-4 text-muted">Estamos trabajando para solucionarlo. Por favor, vuelve a intentarlo más tarde.</p>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}