{% extends 'base.html' %}

<head>
    {% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
    {% endblock %}
    {% block title %}
    {{ super() }} Home
    {% endblock %}
</head>

{% block content %}
<div class="container mt-4">
    <div class="header-container">
        <h1 class="header-title">Propiedades en alquiler</h1>
        <div class="order">
            <form action="/home" method="GET" class="sort-form" id="sortForm">
                <label for="order" class="sort-label">Ordenar por:</label>
                <div class="sort-controls">
                    <select name="order" id="order" class="sort-select" onchange="this.form.submit()">
                        <option value="price_asc" {% if request.args.get('order') == 'price_asc' %}selected{% endif %}>Menor precio a mayor</option>
                        <option value="price_desc" {% if request.args.get('order') == 'price_desc' %}selected{% endif %}>Mayor precio a menor</option>
                        <option value="date_asc" {% if request.args.get('order') == 'date_asc' %}selected{% endif %}>Más antiguos</option>
                        <option value="date_desc" {% if request.args.get('order') == 'date_desc' %}selected{% endif %}>Más nuevos</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
    {% include 'components/catalog.html' %}
</div>
{% endblock %}